.container {
    max-width: 9OOpx;
    margin: 0 auto;
    padding:  0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-box {
    width: 600px ;
    margin: 0 auto;
    background-color: #eee;
    padding: 1rem 5rem 5rem 5rem;
    border: 3px solid rgb(34, 34, 247);
}

.quiz-box h1 {
    background-color: rgb(34, 34, 247);
    font-size: 4rem;
    text-align:center;
    color: #eee;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;
}

.quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-header #progress {
    color: rgb(34, 34, 247);
    font-size: 1.6rem;
    font-weight: 70;
}

.quiz-header #count-down {
    font-size: 1.6rem;
    font-weight: 700;
    background-color: rgb(247, 88, 30);
    padding: 5px;
    margin: 1px;
    color: #eee;
    border-radius: 3px;
}

.quiz-box #question {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(247, 88, 30);
    border: 1px solid gray;
    border-width: 1px 0;
}

.buttons {
    margin: 1.5rm 0 4rem 0;
}

.btn {
    text-align: left;
    background-color: #eee;
    width: 100%;
    font-size: 1.8rem;
    color: black;
    border: 1px solid rgb(34, 34, 247);
    border-radius: 5px;
    margin: 7px 0;
    padding: 1rem;
    outline: none;

}